.button_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.table-container {
  overflow-x: auto;
  width: 100%;
}

.img-hover {
  transition: transform 0.5s;
}

.img-hover:hover {
  transform: scale(1.1);
}
